/* ==========================================================================
    HTML5 Boilerplate styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.5;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
    Haunted Hill Styles
   ========================================================================== */

/* =================
    MOBILE: Default
   ================= */

body {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    color: #e1e1e1;
    background: #0f0f0f;
}

a {
    color: #e1e1e1;
    text-decoration: underline;
}

a:hover {
    color: f0f0f0;
    text-decoration: none;
}

a[href^=tel] {
    text-decoration: none;
}

.button {
    display: inline-block;
    min-width: 200px;
    max-width: 100%;
    margin: 0 0 1em 0;
    padding: 0.5em 1em;
    font-family: "Didact Gothic", sans-serif;
    font-size: 1.125em;
    font-weight: 400;
    text-align: center;
    color: #0f0f0f;
    text-decoration: none;
    border: 0;
    background-color: #d3d3d3;
    transition: background-color 500ms ease-in-out;
}

.button:hover {
    background-color: #f3f3f3;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Special Elite", serif;
    font-weight: 400;
}

table {
    width: 100%;
}

table th {
    font-weight: 400;
    text-align: center;
}

th > h3 {
    margin: 0;
    padding: 0;
}

article > header > h1,
aside > h2 {
    border-bottom: 1px solid #e1e1e1;
}

article > header > p {
    text-align: right;
    font-size: 0.75em;
}

article > section > p {
    font-size: 1.125em;
}

article > footer > p {
    font-size: 0.75em;
}

aside {
    margin: 0 0 1.5em 0;
}

blockquote {
    margin: 0 0 1em 0;
    padding: 0.25em 0;
    font-size: 0.825em;
    font-style: italic;
}

blockquote > span {
    font-size: 5em;
    line-height: 0;
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    float: left;
    top: 25px;
    left: -10px;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.header-container {
    height: 500px;
}

.title {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.title img {
    width: 100%;
    max-width: 450px;
    display: block;
    margin: 10px auto;
}

.embed-content,
.embed-container,
img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.portrait {
    max-width: 285px;
}

.landscape {
    max-width: 425px;
}

.square {
    max-width: 350px;
}

.ticket {
    max-width: 340px;
}

.footer-container {
    text-align: center;
    font-size: 0.825em;
}

.footer-container a {
    text-decoration: none;
}

/* ===============
    MOBILE: Forms
   =============== */

form {
    width: 100%;
    margin: 0 0 1em 0;
}

input,
textarea {
    display: block;
    width: 95%;
    margin: 0 0 0.5em 0;
    padding: 0.5em;
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    color: #0f0f0f;
    border: 0;
    background-color: #d3d3d3;
}

input[type=submit] {
    width: 50%;
    transition: background-color 500ms ease-in-out;
}

input[type=submit]:hover {
    background-color: #f3f3f3;
}

.alert,
.confirm {
    font-style: italic;
    padding: 0.5em 0.825em;
}

.alert {
    background: #b50000;
}

.confirm {
    background: #299900;
}

/* ==============
    MOBILE: Menu
   ============== */

nav {
}

nav > ul {
    display: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: block;
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    display: block;
    margin: 0;
    padding: 0.5em 1em;
    font-size: 1.125em;
    letter-spacing: 1px;
    color: #e1e1e1;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
}

nav > ul > li > a:hover {
    background: transparent;
}

nav > ul > li > a:active {
    background: #e1e1e1;
}

.open-close {
    display: inline-block;
    clear: both;
    margin: 0;
    padding: 0.25em;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f0f0f0;
    text-decoration: none;
    cursor: pointer;
}

/* ================
    MOBILE: Themes
   ================ */

.page1 {
    background: #0f0f0f url(../img/body_jjhh-bg1_480x800.png) no-repeat center top;
    background-size: 100% auto;
}

.page2 {
    background: #0f0f0f url(../img/body_jjhh-bg2_480x800.png) no-repeat center top;
    background-size: 100% auto;
}

.page3 {
    background: #0f0f0f url(../img/body_jjhh-bg3_480x800.png) no-repeat center top;
    background-size: 100% auto;
}

.page4 {
    background: #0f0f0f url(../img/body_jjhh-bg4_480x800.png) no-repeat center top;
    background-size: 100% auto;
}

.page5 {
    background: #0f0f0f url(../img/body_jjhh-bg5_480x800.png) no-repeat center top;
    background-size: 100% auto;
}

/* ===============
    MOBILE: Links
   =============== */

.links {
    width: 100%;
    max-width: 240px;
    display: block;
    margin: 1em auto;
}

/* ===============
    MOBILE: Hours
   =============== */

.calendar td {
    width: 14%;
    padding: 5px;
}

.calendar th {
    padding: 5px;
}

.open-weekday {
    color: #0f0f0f;
    background: #b696bb;
    border: 2px solid #0f0f0f;
}

.open-weekend {
    color: #0f0f0f;
    background: #e78787;
    border: 2px solid #0f0f0f;
}

.closed {
    color: #0f0f0f;
    background: #e1e1e1;
    border: 2px solid #0f0f0f;
}

/* ==========================================================================
    Media Queries
   ========================================================================== */

@media only screen and (min-width: 400px) {

.header-container {
    height: 560px;
}

.embed-content,
.embed-container {
    width: 320px;
    height: 180px;
}

}

@media only screen and (min-width: 480px) {

.page1 {
    background: #0f0f0f url(../img/body_jjhh-bg1_768x1024.png) no-repeat center top;
    background-size: 100% auto;
}

.page2 {
    background: #0f0f0f url(../img/body_jjhh-bg2_768x1024.png) no-repeat center top;
    background-size: 100% auto;
}

.page3 {
    background: #0f0f0f url(../img/body_jjhh-bg3_768x1024.png) no-repeat center top;
    background-size: 100% auto;
}

.page4 {
    background: #0f0f0f url(../img/body_jjhh-bg4_768x1024.png) no-repeat center top;
    background-size: 100% auto;
}

.page5 {
    background: #0f0f0f url(../img/body_jjhh-bg5_768x1024.png) no-repeat center top;
    background-size: 100% auto;
}

.embed-content,
.embed-container {
    width: 435px;
    height: 245px;
}

}

@media only screen and (min-width: 500px) {

.header-container {
    width: 500px;
    margin: 0 auto;
}

}

@media only screen and (min-width: 520px) {

.header-container {
    height: 620px;
}

}

@media only screen and (min-width: 600px) {

.header-container {
    height: 660px;
}

}

@media only screen and (min-width: 660px) {

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    background-position: center -100px;
}

}

@media only screen and (min-width: 768px) {

.header-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    height: 700px;
}

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    background-size: 768px 1024px;
    background-position: center -150px;
}

.title {
    width: 470px;
    float: left;
}

.title img {
    width: 430px;
    margin: 20px 0;
}

.open-close {
    display: none;
}

nav {
    width: 220px;
    margin: 20px 0;
    float: right;
}

nav > ul {
    display: block;
}

nav > ul > li > a {
    transition: all 0.5s ease-in;
    text-align: right;
    margin: 0;
    padding: 0.25em 0.5em;
    font-size: 1.375em;
    background: transparent;
}

nav > ul > li > a:hover {
    transition: all 0.5s ease-out;
    color: #f0f0f0;
    text-shadow: 0 0 10px white;
}

nav > ul > li > a:active {
    background: transparent;
}

.main-container {
    max-width: 900px;
    margin: 0 auto;
}

.column1 {
    width: 63%;
    float: left;
}

.column2 {
    width: 30%;
    float: right;
    margin: 3.5em 0 0 0;
    padding: 0 0 0 3%;
    border-left: 1px solid #e1e1e1;
}

aside > h2 {
    border-bottom: 0;
}

.portrait,
.landscape,
.square {
    float: left;
    margin: 0 1em;
}

.portrait {
    width: 200px;
}

.landscape {
    width: 300px;
}

.square {
    width: 245px;
}

.embed-content,
.embed-container {
    width: 400px;
    height: 225px;
}

}

@media only screen and (min-width: 1024px) {

.main-container {
    max-width: 1000px;
}

.embed-content,
.embed-container {
    width: 560px;
    height: 315px;
}

}

@media only screen and (min-width: 1140px) {

.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
    background-position: center -250px;
}

.header-container {
    max-width: 1200px;
    height: 600px;
}

.main-container {
    max-width: 1200px;
}

nav {
    margin-right: 1em;
}

.embed-content,
.embed-container {
    width: 640px;
    height: 360px;
}

}

/* ==========================================================================
    Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
    Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}